*{
  margin: 0;
  padding: 0;
  border: none;
}
body{
  margin:2vh;
  background-color: rgb(250, 249, 246);
}
header{
  display: flex;
  justify-content: space-around;
  padding-bottom: 2.5vh;
  border-bottom: 2px solid #333;
}
#date-header{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: #333;
  font-family: monospace;
  text-transform: uppercase;
}
#auto-container{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5vh;
    font-size: 200%;
    border-bottom: 2px solid #333;
}
.typed-text {
    color: #333;
    font-family: monospace;
    font-size: 200%;
  }
  
.cursor {
    background: #333;
  }

/* User Input Area  */
#task-input{
  display: flex;
  justify-content: center;
}
label, input{
  padding-right: 10vh;
} 
#task-submit{
  margin-left: 5vh;
}
input{
  padding: 2vh;
  background-color: rgb(250, 249, 246);
  border-radius: 10px;
}
label, input, #task-submit {
  font-family: monospace;
  font-weight: 500;
  font-size: 150%;
}
#task-submit{
  border: 1px solid rgb(160, 158, 151);
  padding: 2vh;
  border-radius: 4px;
  box-shadow: 0 4px rgb(54, 54, 52);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.25vw;
}
#task-submit:active{
  box-shadow: none;
  transform: translateY(4px);
}
/* list container */
#list{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.list-container{
  width: 50%;
  height: 90%;
}
li{
  font-weight: 600;
  font-size: 125%;
  padding: 1vh;
  margin: 1vh;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 10px;
  list-style: none;
  font-family: monospace;
  background-color: rgb(250, 249, 246);
}
/* Modal Styling */
#open-modal, #change-theme{
  padding: 2vh;
  margin:2vh;
  font-family: monospace;
  font-weight: bold;
  font-size: 125%;
  cursor: pointer;
  background-color:white ;
  color: #333;
  border-radius:10px;
  box-shadow: 0px 5px #333333b2;
  border: 1px solid #333333b2;
  text-transform: uppercase;
  letter-spacing: 0.25vw;
}
#open-modal:active, #change-theme:active{
  box-shadow: none;
  transform: translateY(5px);
}
#modal{
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%) scale(0);
  z-index:99;
  transition:200ms ease-in-out;
  height: 50vh; 
  width:60vw;
  border: 1px solid #333333b2;
  background-color: white;
}
#modal.active{
  transform: translate(-50%, -50%) scale(1);
}
#modal-header{
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  border-bottom:1px solid #333333b2;
}
#modal-title, #close-modal{
  font-size: 150%;
  font-family: monospace;
  font-weight: bold;
}
#close-modal{
  background:none;
  cursor: pointer;
}
#modal-body{
  padding:2vh;
  height: 100%;
}
.instructions{
  font-size: 125%;
  font-family: monospace;
  line-height: 1.25rem;
  margin-bottom: 2vh;
}
#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  background: #333333b2;
  pointer-events: none;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
}
/* inside modal styling */
.modal-steps{
  width:100%;
  height: 10%;
  font-family: monospace;
}